<header class="header-section" >
    <div class="header-top" >
        <div class="container">
            <div class="ht-left" >
                <div class="mail-service" >
                    <i class=" fa fa-envelope"></i>
                   contact@polpoShop.com
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                    +116 31 597 990
                </div>
            </div>
            <div class="ht-right "  >
                <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="login-panel" *ngIf="!c()"><i class="fa fa-user-circle"></i>{{'navbar.con' | translate  }}</a>
                <a href="#" class="login-panel " type="button"   (click)="logout()"  *ngIf="c()"><i class="fa fa-user-circle"></i> {{'navbar.dec' | translate  }}
                    
              </a>
                <div class="lan-selector">
                 <!-- <select class="language_drop" name="countries" id="countries" style="width:300px; "(change)="filterChanged($event.target.value)"  [value]='fr' ([ngModel])="selected" >
                        <option  
                         *ngFor="let lang of translate.getLangs()" value="{{lang}}">{{lang}}</option>
                         
                    </select>  
             -->
             <select (change)="filterChanged($event.target.value)"  [value]='fr' ([ngModel])="selected" style="width: 100px; border-color: white;" >
                <option *ngFor="let lang of translate.getLangs()" value="{{lang}}" > {{lang}} </option>
              </select>

                    </div>
                    
        
                  
                <div class="top-social ">
                <a href="mailto:contact@polposhop.com"><i class="fa fa-envelope"></i></a>
                <a (click)="insta()"><i class="fa fa-instagram"></i></a>
                <a (click)="fb()"><i class="ti-facebook"></i></a>
               <a (click)="twitter()"><i class="ti-twitter"></i></a>
                </div>
            </div>
        </div>
  
    </div>
    <div class="container" >
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a routerLink="home"  class="bounce">
                            <img src="assets\img\p.jpg" alt="" >
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                     <button type="button" class="category-btn  "  >
                        {{'navbar.cat' | translate  }}   
                    </button>
                       
                    
                        <div class="input-group"  >
                            <input class="input-group-prepend" type="text" placeholder="{{'navbar.need' | translate  }}" [(ngModel)]="term">
                            <button type="button" ><i class="ti-search"  ></i></button>
                            
                        </div>
                   
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a [routerLink]="['/favoris']" routerLinkActive="router-link-active" >
                                <i class="icon_heart_alt"></i>
                                <span >{{nemberFav()}}</span>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a [routerLink]="['/checkout']" routerLinkActive="router-link-active" >
                                <i class="icon_bag_alt"></i>
                                <span >{{ nember() }}</span>
                            </a>
                            <div class="cart-hover" *ngFor="let m of p|filter:term">
                                <div class="select-items" >
                                    <table>
                                        <tbody>
                                            <tr *ngFor="let m of p|filter:term">
                                                <td class="si-pic"><img src="{{m.photo}}" style="width: 50px;"></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p >{{m.prix}}DT</p>
                                                        <h6>{{m.nom_produit}}</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close" (click)="onDelete(m.id)"></i><!--supp de panier-->
                                                </td>
                                            </tr>
        
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total:</span>
                                    <h5>{{ getTotal() }}DT</h5><!--calcule totoale-->
                                </div>
                                <div class="select-button">
                                    <a [routerLink]="['/quantite']" routerLinkActive="router-link-active"  class="primary-btn view-card">VIEW CARD</a>
                                    <a [routerLink]="['/checkout']" routerLinkActive="router-link-active"  class="primary-btn checkout-btn">CHECK OUT</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price">{{ getTotal() }}DT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--navbar 2 français-->
    <div class="nav-item " style=" height: 60px;" *ngIf="lan == 'fr'">
        
            <div class="nav-depart " style="  margin-left: 30px;">
                <div class="depart-btn" >
                    
                    <i class="ti-menu" ></i>
                    <span>{{'navbar.dep' | translate  }}</span>
                    <ul class="depart-hover">
                <li > <a (click)="clothers()">{{'navbar.Clo' | translate  }}</a> </li>
                   <li><a (click)="beauty()">{{'navbar.Be' | translate  }}</a></li>
                   <li><a (click)="baby()">{{'navbar.B' | translate  }}</a></li>
                   <li><a (click)="food()"> {{'navbar.Fo' | translate  }}</a></li>
                 
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
               <ul>
                    <li class="active" ><a routerLink="home" >{{'navbar.Ho' | translate  }}</a></li>
                    <li><a [routerLink]="['/shop']" routerLinkActive="router-link-active"  (click)="shop()"  >{{'navbar.Sh' | translate  }}</a></li>
                    <li><a routerLink="checkout" >{{'navbar.Chec' | translate  }}</a></li>    
                    <li><a routerLink="register">{{'navbar.Reg' | translate  }}</a></li>
                    <li><a  routerLink="login">{{'navbar.Lo' | translate  }}</a></li>
                    
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >{{'navbar.Contact' | translate  }}</a></li>
                            <li><a [routerLink]="['/livreur']" routerLinkActive="router-link-active" >{{'navbar.List' | translate  }}</a></li>
                            <li><a [routerLink]="['/aboutus']" routerLinkActive="router-link-active" >{{'navbar.About' | translate  }}</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
           
                
        
    </div>
<!-- fin navbar englais-->
   <div class="nav-item " style="margin-top: -30px; height: 60px;" *ngIf="lan == 'en'"> 
        <div class="container">
            <div class="nav-depart ">
                <div class="depart-btn">
                    
                    <i class="ti-menu"></i>
                    <span>All departments</span>
                    <ul class="depart-hover">
                    <li > <a (click)="clothers()">{{'navbar.Clothes' | translate  }}</a> </li>
                  <li><a (click)="beauty()">{{'navbar.Beauty' | translate  }}</a></li>
                   <li><a (click)="baby()">{{'navbar.Baby' | translate  }}</a></li>
                   <li><a (click)="food()"> {{'navbar.food' | translate  }}</a></li> 
                   
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
               <ul>
                    <li class="active" ><a routerLink="home" >{{'navbar.Home' | translate  }}</a></li>
                    <li><a [routerLink]="['/shop']" routerLinkActive="router-link-active"  (click)="shop()"  >{{'navbar.Shop' | translate  }}</a></li>
                    <li><a routerLink="checkout">Checkout</a></li>    
                    <li><a routerLink="register">Register</a></li>
                    <li><a  routerLink="login">{{'navbar.Login' | translate  }}</a></li>
                    
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >{{'navbar.Contact' | translate  }}</a></li>
                            <li><a [routerLink]="['/livreur']" routerLinkActive="router-link-active" >{{'navbar.List' | translate  }}</a></li>
                            <li><a [routerLink]="['/aboutus']" routerLinkActive="router-link-active" >{{'navbar.Aboutus' | translate  }}</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
           
                
        </div>
    </div> 
</header>
