<header class="header-section" >
    <div class="header-top" >
        
            <div class="ht-left" >
                <div class="mail-service" style="margin-left: 20px;">
                    <i class=" fa fa-envelope"></i>
                   <b> contact@polpoShop.com</b>
                </div>
                <div class="phone-service">
                    <i class=" fa fa-phone"></i>
                   <b> +116 31 597 990</b>
                </div>
            </div>
            <div class="ht-right" >
                <div class="lan-selector">
                    <select class="language_drop" name="countries" id="countries" style="width:300px;" >
                        <option value='yt' data-image="assets/img/flag-1.jpg" data-imagecss="flag yt"
                            data-title="English"><b>English</b></option>
                        <option value='yu' data-image="assets\img\flag-2.png" data-imagecss="flag yu"
                            data-title="Français" style="width: 55px;height: 200px;">Français </option>
                    </select>
                    </div>
                   
                  <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="login-panel" *ngIf="!c()"><i class="fa fa-user-circle"></i><b>Login</b></a>
                  <a href="#" class="login-panel" (click)="logout()"  *ngIf="c()"><i class="fa fa-user-circle"></i> <b>{{nameUser}} </b>
                   <select>
                       <option>logout</option>
                   </select>
                </a>
                 <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="login-panel"style="margin-right: 30px;"><i class="fa fa-user-plus"></i><b>Register</b></a>
               
                <div class="top-social " style="margin-left: 400px;">
                <a href="mailto:contact@polposhop.com"><i class="fa fa-envelope"></i></a>
                <a (click)="insta()"><i class="fa fa-instagram"></i></a>
                <a (click)="fb()"><i class="ti-facebook"></i></a>
               <a (click)="twitter()"><i class="ti-twitter"></i></a>
                </div>
            </div>
       
  
    </div>
    <div class="container" >
        <div class="inner-header">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a routerLink="home"  class="bounce">
                            <img src="assets\img\p.jpg" alt="" >
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="advanced-search">
                        
                        <button type="button" class="category-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories
                           
                        </button>
                        
                       
                        <div class="input-group"  >
                            <input class="input-group-prepend" type="text" placeholder="What do you need?">
                            <button type="button" ><i class="ti-search"  ></i></button>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-right col-md-3">
                    <ul class="nav-right">
                        <li class="heart-icon">
                            <a href="#">
                                <i class="icon_heart_alt"></i>
                                <span >1</span>
                            </a>
                        </li>
                        <li class="cart-icon">
                            <a href="#">
                                <i class="icon_bag_alt"></i>
                                <span >3</span>
                            </a>
                            <div class="cart-hover">
                                <div class="select-items">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="si-pic"><img src="assets/img/select-product-1.jpg" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>$60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="si-pic"><img src="assets/img/select-product-2.jpg" alt=""></td>
                                                <td class="si-text">
                                                    <div class="product-selected">
                                                        <p>$60.00 x 1</p>
                                                        <h6>Kabino Bedside Table</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    <i class="ti-close"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="select-total">
                                    <span>total:</span>
                                    <h5>$120.00</h5>
                                </div>
                                <div class="select-button">
                                    <a [routerLink]="['/quantite']" routerLinkActive="router-link-active"  class="primary-btn view-card">VIEW CARD</a>
                                    <a [routerLink]="['/checkout']" routerLinkActive="router-link-active"  class="primary-btn checkout-btn">CHECK OUT</a>
                                </div>
                            </div>
                        </li>
                        <li class="cart-price">$150.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="nav-item " style="margin-top: -30px; height: 60px;">
        <div class="container">
            <div class="nav-depart ">
                <div class="depart-btn">
                    
                    <i class="ti-menu"></i>
                    <span>All departments</span>
                    <ul class="depart-hover">
                        <li class="active"><a [routerLink]="['/shop']" routerLinkActive="router-link-active" >Shop</a></li>
                        <li > <a (click)="clothers()">Clothes</a> </li>
                        <li><a (click)="beauty()">Beauty</a></li>
                        <li><a (click)="baby()">Baby</a></li>
                        <li><a (click)="food()"> Food</a></li>
                       
                    </ul>
                </div>
            </div>
            <nav class="nav-menu mobile-menu">
               <ul>
                    <li class="active" ><a routerLink="home" >Home</a></li>
                    <li><a [routerLink]="['/shop']" routerLinkActive="router-link-active"  (click)="shop()" >Shop</a></li>
                    <li><a routerLink="checkout">Checkout</a></li>    
                    <li><a routerLink="register">Register</a></li>
                    <li><a  routerLink="login">Login</a></li>
                    
                    <li><a href="#">Pages</a>
                        <ul class="dropdown">
                            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a></li>
                            <li><a [routerLink]="['/livreur']" routerLinkActive="router-link-active" >List delivery men</a></li>
                            <li><a [routerLink]="['/aboutus']" routerLinkActive="router-link-active" >About us</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
           
                
        </div>
    </div>
</header>
