
<div class="breacrumb-section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><i class="fa fa-home"></i> {{'register.home' | translate  }}</a>
                    <span>{{'register.log' | translate  }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="register-login-section spad"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2><i class="fa fa-user-circle"></i>{{'login.log' | translate  }}</h2>
                    <form action="#" (ngSubmit)="connexion()" #myform="ngForm">
                        <div class="group-input">
                            <label for="username">{{'login.email' | translate  }}</label>
                            <input type="text" id="email" [(ngModel)]="user.email" name="email"  #email="ngModel" type="email" required style="border-radius: 10px;"> 
                        </div>
                        <div class="group-input">
                            <label for="pass">{{'login.pass' | translate  }}</label>
                            <input type="password" id="mdp"  [(ngModel)]="user.mdp" name="mdp"  #mdp="ngModel"  required style="border-radius: 10px;">
                        </div>
                        <div class="group-input gi-check">
                            <div class="gi-more">
                                <label for="save-pass">
                                    {{'login.pass2' | translate  }}
                                    <input type="checkbox" id="save-pass">
                                    <span class="checkmark"></span>
                                </label>
                                <a [routerLink]="['/resetPass']" routerLinkActive="router-link-active"  class="forget-pass" >{{'login.forgot' | translate  }}</a>
                            </div>
                        </div>
    
              <button type="submit" class="site-btn login-btn"  style="border-radius: 10px;">{{'login.sign' | translate  }}</button>
                    </form>
                    <div class="switch-login">
                        
                        <a [routerLink]="['/register']" routerLinkActive="router-link-active"   class="or-login">{{'login.account' | translate  }}</a>
        </div>
            </div>
        </div>
    </div>
</div>

