

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  ><i class="fa fa-home"></i> Home</a>
                    <a [routerLink]="['/shop']" routerLinkActive="router-link-active"  > <i class="fa fa-shopping-cart"></i>Shop</a>
                    <span>Check Out</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="checkout-section spad">
    <div class="container">
        <form action="#" class="checkout-form" #Form="ngForm" [formGroup]="checkout" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="content-btn"><i class="fa fa-user-circle"></i>Click Here To Login</a>
                    </div>
                    <h4>Biiling Details</h4>
                    <div class="row" >
                        <div class="col-lg-6">
                            <label for="fir">First Name<span>*</span></label>
                            <input type="text" id="fir" [(ngModel)]="firstName" formControlName="firstName" value="{{client.nom}}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" >
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Last Name<span>*</span></label>
                            <input type="text" id="last" [(ngModel)]="lastName" value="{{lastName}} "formControlName="lastName" value="{{client.prenom}}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <label for="cun">Country<span>*</span></label>
                            <input type="text" id="cun" [(ngModel)]="country" formControlName="country" value="{{client.pays}}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors.required">Country is required</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="town">Town / City<span>*</span></label>
                            <input type="text" id="town" [(ngModel)]="city" formControlName="city" value="{{client.ville}}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">Toun/City is required</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="street">Street Address<span>*</span></label>
                            <input type="text" id="street" [(ngModel)]="address" class="street-first" value="{{client.adresse}}" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">address is required</div>
                            </div>
                            
                        </div>
                      
                        
                        <div class="col-lg-6">
                            <label for="email">Email Address<span>*</span></label>
                            <input type="text" id="email" [(ngModel)]="email" formControlName="email" value="{{client.email}}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Phone<span>*</span></label>
                            <input type="text" id="phone" [(ngModel)]="phone" formControlName="phone"value="{{client.telephone}}" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Phone number is required</div>
                            </div>
                        </div>
                        
                    </div>
                </div>

                
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="content-btn"><i class="fa fa-user-plus"></i>Click Here To Register</a>
                    </div>
                    <div class="place-order">
                        <h4>Your Order</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Product <span>Total</span></li>
                                <li class="fw-normal" *ngFor="let m of p">{{m.nom_produit}} <b>x</b> {{m.quantite}} ({{m.prix}}DT)
                                    <span>{{quan()}}DT</span></li>
                        
                                <li class="fw-normal">Subtotal <span>{{getTotal()}}DT</span></li>
                                <li class="total-price">Total <span>{{getTotal()}}DT</span></li>
                            </ul>
                           
                            <div class="row">  
                            
                                <div class="col-lg-4">
                                    <div class="order-btn">
                                <button type="submit" class="site-btn place-btn" [routerLink]="['/quantite']" routerLinkActive="router-link-active" >Change quantity</button>
                                      </div>
                            </div>
                                <div class="col-lg-4">
                                    <div class="order-btn">
                                <button type="submit" class="site-btn place-btn" style="background-color: #e7ab3c; height: 70px;border-color: #e7ab3c;" (click)="PasseCommande()">Place Order</button>
                                      </div>
                            </div>
            
                                <div class="col-lg-4">
                                    <div class="order-btn">
                                <button type="reset" class="site-btn place-btn" onclick="onReset()" style="height: 70px;" >ignore</button>
                                      </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
