
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text product-more">
                    <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><i class="fa fa-home"></i> Home</a>
                    
                    <span>Delivery men</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->
<div style="margin-top: 40px;">
<h1 class="text-center" ><i class="fas fa-house-leave"></i><u>Table</u></h1>
</div>
<!-- Shopping Cart Section Begin -->
<section class=" spad">
    <div class="container">
        
                <div class="cart-table"  >
                    <table>
                        <thead>
                            <tr>
                                <th>Delivery man's name</th>
                                <th >Region</th>
                                <th>Notice</th>
                              
                                
                            </tr>
                        </thead>
                        <tbody *ngFor="let m of liv">
                           
                            <tr >
                                <td>{{m.nom}} {{m.prenom}}</td>
                                <td >
                                    <h5>{{m.adresse}}</h5>
                                </td >
                               
                                <td >
                                    <star-rating value="" totalstars={{totalstar}} checkedcolor="darkgoldenrod" uncheckedcolor="black" size="24px"
                                       readonly="false" (rate)="onRate($event)"></star-rating>
                                     
                                </td>
                               
                            </tr>
                        </tbody>
                       
                    </table>
                </div>
                
            
    </div>
</section>




